body {
    background-color: blanchedalmond;
    width: 800px;
    margin: auto;
}

h1 {
    text-align: center;
}

h3 {
    font-size: 23px;
}

p, li {
    font-size: 18px;
    font-family: "Tahoma", sans-serif;
}


.source {
    font-size: 15px;
}

img {
    display: block;
    margin: auto;
}
